# === Model weights and large files ===
*.pt
*.pth
*.ckpt
*.h5
*.tflite
*.onnx
*.bin

# === Data files ===
*.csv
*.npy
*.npz
*.gif
*.csv
*.err
*.out
*.ipynb_checkpoints
*.png
*.json
# === Python and environment ===
__pycache__/
*.pyc
.env
venv/
.env/
